<header>
  <nav style="color: aliceblue;">$$$</nav>
  <nav>
    <ul>
      <li>Login</li>
      <li id="transpad">Book Classes</li>
      <li id="colorpad">Buy Classes</li>
    </ul>
  </nav>
</header>
<header class="sm-scr">
  <nav>$$$</nav>
  <nav><h1>GEOSIST</h1></nav>
  <nav><i class="fa fa-user"></i></nav>
</header>

<div class="container">
    <section  class="sec1">
      <h1>SWEAT.</h1>
      <h1>RECOVER.</h1>
      <h1>CONNECT.</h1>
      <button>Join Us</button>
    </section><br>
    
</div>
<div class="container2" id="bet">
  <section class="sec2">
    <div>
      <h5>FITNESS&WORKOUT</h5>
     <h1>Over 200 all inclusive classes weekly</h1>
     <h4>Full service premium and amenities.just bring you and do the rest</h4>
     <button>Book Classes</button>
    </div>
  </section>
  <section class="sec3">
    <div>
      <div class="one">
      <h1 style="margin: 0; margin-left: 40px;">YOGA</h1>
      <h5 style="margin-left: 40px;">Find your breath and turn up the heal!</h5>
      <a style="margin-left: 40px;" href="">Join Us</a>
    </div>
    <div>
      <h1  style="margin: 0; margin-left: 40px;">HIIT</h1>
      <h5 style="margin-left: 40px;">Hit hard while having the time of your life</h5>
      <a href="" style="margin-left: 40px;">Join Us</a>
    </div>
    <div>
      <h1  style="margin: 0; margin-left: 40px;">RIDE</h1>
      <h5 style="margin-left: 40px;">Race past your goals and get lost in the best!</h5>
      <a style="margin-left: 40px;" href="">Join Us</a>
    </div>
    </div>
  </section>
</div>
<div class="smr-con2">
  <section style="width: 80%; margin-left: 40px;" >
    <div>
      <h5 style="font-weight: 400;">FITNESS&WORKOUT</h5>
     <h1 style="font-size: 40px;
     text-wrap: wrap;
     font-weight: 400;">Over 200 all inclusive classes weekly</h1>
     <h4>Full service premium and amenities.just bring you and do the rest</h4>
     <button style=" padding: 15px 45px;
     background: white;
     border: 1px solid wheat;">Book Classes</button>
    </div>
  </section>
  <section style="width: 100%;" class="buz">
    <ul style="display: flex;flex-direction: column;align-items:  left;text-align: left;justify-content: left;margin: 0;padding: 0;gap: 0;">
      <li ><span>YOGA</span><span><i class="fa fa-arrow-right"></i></span></li>
      <li><span>HIIT</span><span><i class="fa fa-arrow-right"></i></span></li>
      <li><span>RIDE</span><span><i class="fa fa-arrow-right"></i></span></li>
    </ul>
  </section>
</div>

<div  class="smr-con2-">
  <section style="width: 70%; margin-left: 40px;height: fit-content;"  >
    <div>
      <h5 style="font-weight: 400;">WELLNESS & SPA SERVICES</h5>
     <h1 style="font-size: 30px;
     text-wrap: wrap;
     font-weight: 400;">TAKE WELLNESS AND RECOVERY TO A WHOLE NEW LEVEL</h1>
     <h4>Full service premium and amenities.just bring you and do the rest</h4>
     <button style=" padding: 15px 45px;
     background: white;
     border: 1px solid wheat;">BOOK CLASSES</button>
    </div>
  </section>
  <section style="width: 100%;" class="buzz">
    <ul style="display: flex;flex-direction: column;align-items:  left;text-align: left;justify-content: left;margin: 0;padding: 0;gap: 0;" >
      <li>SAUNA</li>
      <li>SOMADOME MEDITATION</li>
      <li>MASSAGE THERAPY</li>
      <li>PHYSIOTHERAPY</li>
      <li><div style="display: flex;justify-content: space-between;">
        <span>SALTWATER LAP POOL</span>
        <span><small>THE WELL EXCLUSIVE</small></span>
      </div></li>
      <li><div style="display: flex;justify-content: space-between;">
        <span>HYDRO THERAPY</span>
        <span><small>THE WELL EXCLUSIVE</small></span>
      </div></li>
      <li><div style="display: flex;justify-content: space-between;">
        <span>+12 MORE</span>
        <span><small><a href="" style="color: white;text-decoration: none;">See all Service <i class="fa fa-arrow-right"> </i></a></small></span>

      </div></li>
    </ul>
  
  </section>
</div>
<div class="container2" id="jet">
  <section class="sec2" style="border: none;">
    <div>
      <h5>WELLNESS & SPA SERVICES</h5>
     <h1>TAKE WELLNESS AND RECOVERY TO A WHOLE NEW LEVEL</h1>
     <h4>Full service premium and amenities.just bring you and do the rest</h4>
     <button>EXPLORE SPA&WELLNESS</button>
    </div>
  </section>
  <section class="sec4">
    <ul>
      <li></li>
      <li>SAUNA</li>
      <li>SOMADOME MEDITATION</li>
      <li>MASSAGE THERAPY</li>
      <li>PHYSIOTHERAPY</li>
      <li><div style="display: flex;justify-content: space-between;">
        <span>SALTWATER LAP POOL</span>
        <span>THE WELL EXCLUSIVE</span>
      </div></li>
      <li><div style="display: flex;justify-content: space-between;">
        <span>HYDRO THERAPY</span>
        <span>THE WELL EXCLUSIVE</span>
      </div></li>
      <li><div style="display: flex;justify-content: space-between;">
        <span>+12 MORE</span>
        <span><a href="" style="color: white;text-decoration: none;">See all Service</a></span>

      </div></li>
    </ul>
  
  </section>
</div>

<div class="container3">
  <div style="margin-left: 40px;">
    <h1>GEOSIST LOCATION</h1>
  </div>
  <div  class="imgg">
    <div style="width: fit-content;height: fit-content;"><img src="../assets/media/thumb-1920-994048.jpg" alt="" width="100%"></div>
    <div style="width: fit-content;height: fit-content;"><img src="../assets/media/thumb-1920-994048.jpg" alt="" width="100%"></div>
  </div>
  
  <div class="wrapper1" >
    <div class="img1">
      <div style="width: fit-content;height: fit-content;"><img src="../assets/media/thumb-1920-994048.jpg" alt="" width="100%"></div>
    </div>
   <div >
    <h1>THE WALL</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos provident fugiat temporibus dignissimos. Perspiciatis iste laudantium, veritatis, inventore recusandae minus nobis debitis aut repellat unde iusto maiores sunt vitae fugiat.</p>
    <h6 style="color: silver;">486, front streat,W.Toronto</h6>
    <h6>643-263-678</h6>
  </div>
  
  <div >
      <div class="ln-st">
        <div>
          <h4 style="margin: 0;padding: 0;color: goldenrod;">EXCLUSIVE SERVICES</h4>
          <ul class="ls-lt" >
            <li style="color: black; padding: 0;margin: 0;"><span><i class="fa fa-check" aria-hidden="true"></i>&nbsp;</span>SERVICE 1</li>
            <li style="color: black; padding: 0;margin: 0;"><span><i class="fa fa-check" aria-hidden="true"></i>&nbsp;</span>SERVICE 2</li>
            <li style="color: black;padding: 0;margin: 0;"> <span><i class="fa fa-check" aria-hidden="true"></i>&nbsp;</span>SERVICE 3</li>
            <li style="color: black;padding: 0;margin: 0;"> <span><i class="fa fa-check" aria-hidden="true"></i>&nbsp;</span>SERVICE 4</li>
           </ul>
        </div>
      </div>
   </div>
   <div class="img1">
    <div style="width: fit-content;height: fit-content;"><img src="../assets/media/thumb-1920-994048.jpg" alt="" width="100%"></div>
  </div>
   <div>
    <h1>YONGE/ SHUTER</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos provident fugiat temporibus dignissimos. Perspiciatis iste laudantium, veritatis, inventore recusandae minus nobis debitis aut repellat unde iusto maiores sunt vitae fugiat.</p>
    <h6>486, front streat,W.Toronto</h6>
    <h6>643-263-678</h6>
  </div>
  <div >
    <div class="ln-st">
      <div>
        <h4 style="margin: 0;padding: 0;color: goldenrod;">EXCLUSIVE SERVICES</h4>
        <ul class="ls-lt">
          <li style="color: black; padding: 0;margin: 0;"> <span><i class="fa fa-check" aria-hidden="true"></i>&nbsp;</span>SERVICE 1</li>
          <li style="color: black; padding: 0;margin: 0;"><span><i class="fa fa-check" aria-hidden="true"></i>&nbsp;</span> SERVICE 2</li>
          <li style="color: black;padding: 0;margin: 0;">  <span><i class="fa fa-check" aria-hidden="true"></i>&nbsp;</span> SERVICE 3</li>
          <li style="color: black;padding: 0;margin: 0;"> <span><i class="fa fa-check" aria-hidden="true"></i>&nbsp;</span>SERVICE 4</li>
         </ul>
      </div>
    </div>
   </div>

  </div>

</div>

<div class="conatiner-last" style="background-color: black;color: white;width: 100dvw;height: fit-content;">
  <div>
   <div style="display: flex;
   justify-content: space-evenly;
   align-items: center;
   text-align: left;
   width: 100%;margin-top: 60px;">
    <div style="width: 23%">
      <ul style="list-style: none;display: flex;flex-direction: column;">
        <li style="font-size: small; color: rgb(236, 204, 122);padding: 0;margin: 0;">Fitness</li>
        <li style="padding: 0;">Spin</li>
        <li style="padding: 0;">Yoga</li>
        <li style="padding: 0;">HITT</li>
        <li style="padding: 0;">All Classes</li>
      </ul>
    </div>
    <div style="width: 23%">
      <div>
        <ul style="list-style: none;display: flex;flex-direction: column;">
          <li style="font-size: small; color: goldenrod;padding: 0;margin: 0;">SPA</li>
          <li style="padding: 0;">Restore&Recover</li>
          <li style="padding: 0;">Infrared Sauna</li>
          <li style="padding: 0;">Somaome Meditation</li>
          <li style="padding: 0;">All Spa & Wellness service</li>
        </ul>
      </div>
    </div>
    <div style="width: 23%">
      <div>
        <ul style="list-style: none;display: flex;flex-direction: column;">
          <li style="font-size: small; color: goldenrod;padding: 0;margin: 0;">TONIC HOUSE</li>
          <li style="padding: 0;">Workspace</li>
          <li style="padding: 0;">Bar & Cafe</li>
          <li style="padding: 0;">Space Rentals</li>
          <li style="padding: 0;">Upcoming Events</li>
        </ul>
      </div>
     
    </div>
    <div style="width: 23%">
      <div>
        <ul style="list-style: none;display: flex;flex-direction: column;">
          <li style="font-size: small; color: goldenrod;padding: 0;margin: 0;">ABOUT S&T</li>
          <li style="padding: 0;">Our Story</li>
          <li style="padding: 0;">Locations</li>
          <li style="padding: 0;">FAQ</li>
          <li></li>
        </ul>
      </div>
    </div>
   </div>

  </div>
  <div>
    <div style="display: flex;
   justify-content: space-evenly;
   align-items: center;
   width: 100%;margin-top: 60px;" class="boss">
    <div  style="width: 20%" >
      <div style="list-style: none;display: flex;flex-direction: column;">
        <div style="color: white;">
          <h3>YONGE / SHUTER</h3>
         <p>225, YONGE STREET TORONTOON MSB INB 674-89734-</p>
        </div>
        <div style="color: white;">
          <h3>THE WALL</h3>
        <p>225, YONGE STREET TORONTOON MSB INB 674-89734- LO </p>
        </div>
      </div>
    </div>
    <div style="width: 20%" >
      <div style="list-style: none;display: flex;flex-direction: column;">
        <div>
          <li style="margin: 0;padding: 0">OPEN:</li>
          <li style="margin: 0;padding: 0"><small>MONDAY-THURSDAY: 5:45 A.M. TO 10 P.M</small></li>
          <li style="margin: 0;padding: 0"><small>SATURDAY: 7 A.M. TO 7:30 P.M</small></li>
          <li style="margin: 0;padding: 0"><small>SUNDAY: 7:45 A.M. TO 9 P.M</small></li>          
        </div><br>
        <div>
          <li style="margin: 0;padding: 0">OPEN:</li>
          <li style="margin: 0;padding: 0"><small>MONDAY-THURSDAY: 5:45 A.M. TO 10 P.M</small></li>
          <li style="margin: 0;padding: 0"><small>SATURDAY: 7 A.M. TO 7:30 P.M</small></li>
          <li style="margin: 0;padding: 0"><small>SUNDAY: 7:45 A.M. TO 9 P.M</small></li>          
        </div>
      </div>
    </div>
    <div style="width: 20%;display: block;color: white;">
      <h1>LET'S GET CONNECTED</h1>
      <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi provident accusantium illo libero numquam sunt aut error, voluptatum, saepe officia consequatur aliquid, perspiciatis minima amet praesentium voluptatem ipsa odit inventore?</p>
      <input type="text" name="name" style="border: none;border-bottom: 1px solid white;background-color:  black;display: block;width: 100%;outline: none;color: white;" placeholder="Name"><br>
      <input type="email" name="email" style="border: none;border-bottom: 1px solid white;background-color:black;display: block;width: 100%;outline: none;color: white;" placeholder="E-mail"><br>
      <input type="button" value="SUBSCRIBE" style="display: block;width: 100%;background-color: transparent;padding: 10px 20px;border: 1px solid white;color: white;">
    </div>
    <div style="width: 20%;display: flex;justify-content: left;align-items: stretch;height: fit-content;">
      <div style="flex-direction: column; display: flex;justify-content:left; gap: 165px;">
        <div>
          <h2>YOUR FAVOURITE SWEAT AND TONIC CLASSES ANYTIME,ANYWHERE</h2>
        </div>
        <div>
          <button style="background-color: transparent;padding: 10px 20px;border: 1px solid white;color: white;">GET SEVEN DAYS FOR FREE</button>
        </div>
      </div>
      
    </div>
   </div>
  </div><br>
  <br>
</div>
<div id="fizz" style="background-color: black;color: white;width: 100dvw;height: fit-content;">
  <div style="display: flex;flex-direction: column;align-items: center;margin-top: 20px;">
    <div style="width: 90%;padding: 20px 0;">
      <ul style="list-style: none;padding: 0;">
        <li style="font-size: medium;color: goldenrod;padding: 10px 0; border-bottom: 1px solid white;">FITNESS</li>
        <li style="font-size: medium;color: goldenrod;padding: 10px 0; border-bottom: 1px solid white;">SPA</li>
        <li style="font-size: medium;color: goldenrod;padding: 10px 0; border-bottom: 1px solid white;">TONIC HOUSE</li>
        <li style="font-size: medium;color: goldenrod;padding: 10px 0;">ABOUT S&T</li>
      </ul>
    </div>
  </div>

  <div style="display: flex;flex-direction: column;align-items: center;margin-top: 20px;">
    <div style="width: 90%;padding: 20px 0;border-top: 1px solid white;">
      <div style="display: flex;justify-content: space-between;">
        <div style="width: 45%;">
          <h3>YONGE / SHUTER</h3>
          <p style="color: goldenrod;">225 Yonge Street, Toronto<br>ON M5B 1N8<br>647-372-0225</p>
        </div>
        <div style="width: 45%;">
          <h3>OPEN:</h3>
          <p>Mo - Th: 5:45 AM - 10 PM<br>Friday: 5:45 AM - 9 PM<br>Saturday: 7 AM - 7:30 PM<br>Sunday: 7:45 AM - 9 PM</p>
        </div>
      </div>
      <div style="display: flex;justify-content: space-between;">
        <div style="width: 45%;">
          <h3>THE WELL</h3>
          <p style="color: goldenrod;">486 Front St W, Toronto<br>ON M5V 0V2<br>647-372-0225</p>
        </div>
        <div style="width: 45%;">
          <h3>OPEN:</h3>
          <p>Mo - Th: 5:45 AM - 10 PM<br>Friday: 5:45 AM - 9 PM<br>Saturday: 7 AM - 7:30 PM<br>Sunday: 7:45 AM - 9 PM</p>
        </div>
      </div>
    </div>
  </div>

  <div style="display: flex;flex-direction: column;align-items: center;margin-top: 20px;">
    <div style="width: 90%;padding: 20px 0;border-top: 1px solid white;">
      <h1>LET'S GET CONNECTED</h1>
      <p>Receive news, special offers and other emails from Sweat and Tonic. Unsubscribe at any time. View our Terms and Privacy Policy.</p>
      <input type="text" name="name" style="border: none;border-bottom: 1px solid white;background-color: black;display: block;width: 100%;outline: none;color: white;" placeholder="Name"><br>
      <input type="email" name="email" style="border: none;border-bottom: 1px solid white;background-color: black;display: block;width: 100%;outline: none;color: white;" placeholder="E-Mail"><br>
      <input type="button" value="SUBSCRIBE" style="display: block;width: 100%;background-color: transparent;padding: 10px 20px;border: 1px solid white;color: white;">
    </div>
  </div>

  <div style="display: flex;flex-direction: column;align-items: center;margin-top: 20px;">
    <div style="width: 90%;padding: 20px 0;border-top: 1px solid white;">
      <h2>YOUR FAVOURITE SWEAT AND TONIC CLASSES ANYTIME, ANYWHERE</h2>
      <button style="background-color: transparent;padding: 10px 20px;border: 1px solid white;color: white;">GET 7 DAYS FOR FREE</button>
    </div>
  </div>
</div>

<footer>
  <div class="social-icons">
      <i class="fab fa-facebook"></i>
      <i class="fab fa-youtube"></i>
      <i class="fab fa-instagram"></i>
  </div>
  <div class="footer-links" style="margin-right: 60px;">
      <span style="color: white;">© Geosist 2023 | </span>
      <a href="#terms">Terms and Conditions</a>
      <a href="#privacy">Privacy Policy</a>
  </div>
</footer>
<div class="footer">
  <div class="social-icons">
    <i class="fab fa-facebook"></i>
    <i class="fab fa-youtube"></i>
    <i class="fab fa-instagram"></i>
</div>
<div class="footer-links" >
    <span style="color: white;">© Geosist 2023 | </span>
    <a href="#terms">Terms and Conditions</a>
    <a href="#privacy">Privacy Policy</a>
</div>
</div>
